* { 
    margin: 0;
    padding: 0;
}

body { 
    font: 13px Verdana; 
    min-height: 100vh;
}

.container {
   height: 100vh;
   width: 100vw;
   display: flex;
   background-color: green;
   justify-content: space-between;
   text-align: center;
}

.container > * {
    flex: 1 100%;
}



#inputContainer {
    
}

app-chat{
    flex: 1 100;
}

