<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> 

<div class="container h-100 text-center">
  <div class="row h-25 align-items-center">
    <div class="col">
      <h1>Alextivity.</h1>
    </div>
  </div>
  <div class="h-75">
      <form class="h-100" [formGroup]="joinGameForm" (ngSubmit)="onSubmit(joinGameForm.value)">
        <div class="row h-50 align-items-center">
          <div class="col">
            <div class="row my-5">
              <div class="col-4 px-0 text-center">
                <label for="name">Name:</label>
              </div>
              <div class="col align-self-end">
                <input id="name" type="text" formControlName="name">
              </div>
            </div>
          
            <div class="row my-5 ">
              <div class="col-4 px-0 text-center">
                <label for="id">Game:</label>
              </div>
              <div class="col align-self-end">
                <input id="id" type="text" formControlName="id">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class='row justify-content-center align-items-center pt-5'> -->
        <div class='row h-50 align-items-center justify-content-center'>
          <div class="col">
            <button class="btn btn-warning" type="submit">
              <p>Go.</p>
            </button>
          </div>
        </div>
      </form>
  </div>
</div>

<!-- <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> 

<div class="container-fluid h-100 text-center">
  <div>
    <h1>Alextivity</h1>
    <form [formGroup]="joinGameForm" (ngSubmit)="onSubmit(joinGameForm.value)">
      <div>
        <label for="name">
          Name:
        </label>
        <input class='ml-2' id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="id">
          Game:
        </label>
        <input class='ml-2' id="id" type="text" formControlName="id">
      </div>
      <div class='row justify-content-center align-items-center pt-5'>
        <div class="col-6">
          <button align='center' class="btn btn-warning btn-block" type="submit">Go</button>
        </div>
      </div>
    </form>
</div> -->
