#chat {
    height: 100vh;
    border-width: 5px;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

#messages { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

#messageBox{
    flex: 1;
}

#messages li {
    padding: 5px 10px;
    overflow: auto;
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

form {
    display: flex;
    justify-content: center;
    margin: 2vh;

    input{
        flex: 1;
    }
}
